@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat',sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span{
    color: crimson;
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    border-radius: 20px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
.cta:hover {
    color: white;
    background-color: crimson;
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span{
    color: crimson;
}
.log-in{
    /* border: 1px solid crimson; */
    border-radius: 20px;
    width: 156px;
    height: 35px;
    background-color: crimson;
    color: white;
}
.log-in:hover{
    cursor: pointer;
    color:crimson;
    background-color: white;
}
/* .log-in h2 span{
    color:white;
    font-size: 20px;
} */
.log-in h2{
    font-size: 20px;
}
.popdiv{
    width:100%;
    height: 100%;
    background-color:rgba(0, 0, 0,0.7);
    position: absolute;
    top:0;
    display: none;
    align-items: center;
    justify-content: center;
}
.cross{
    margin-top: -380px;
    margin-left: 8px;
    width: 20px;
    height: 30px;
    cursor:pointer;
    width:300px;
    height: 450px;
    background-color: bisque;
    margin-top: 90px;
    border-radius: 10px;
}
.pop_head{
    width:300px;
    height: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer; 
    text-align: center;
    font-size: 15px;
}
.login_head{
    width:100%;
    height:35px;
    border-bottom-right-radius: 10px;
    border-style: hidden;
    color: white;
    background-color: rgb(172, 23, 53);
    padding-top: 8px;
}
.registration_head{
    width:100%;
    height:35px;
    color: rgb(171, 32, 60);
    border-bottom-left-radius: 10px;
    border-style: hidden;
    padding-top: 8px;
    /* background-color: rgb(171, 32, 60); */
}
/* login form */
.login{
    display: contents;
    text-align: center;
    line-height: 35px;
    width: 100%;
}
.textfield{
     margin: 25% 8%;
}
.text_field{
    position:relative;
    border-bottom: 2px solid rgb(162, 141, 141);
    margin: 20px 0;
    color:rgb(171, 32, 60) ;
    line-height: 20px;
    width: 100%;
}

.inputs{
   width: 100%;
   height:20px;
   font-size: 15px;
   border: none;
   background: none;
   outline: none;
   padding-left: 7px; 
   cursor:default; 
   color: rgb(19, 19, 103);
   }
.text_field label{
    position:absolute;
    top:50%;
    left: 5px;
    transform: translateY(-60%);
    font-size: 16px;
    pointer-events: none;
    transition-duration: .5s;
    
}
.remember{
    margin-top: -10px;
    /* background-color: aqua; */
    text-align: left;
    color:rgb(171, 32, 60) ;
    font-size: 14px;
}
.login_check{
    margin-top: 5px;
}
.submit{
    border: 0px ;
    border-radius:13px;
    background-color: rgb(171, 32, 60);
    color: aliceblue;
    height: 40px;
    width: 240px;
    font-size: 16px;
}
.forgetp{
    font-size:15px;
    color:rgb(171, 32, 60);
    cursor: pointer;
    }
.inputs:focus~label,.inputs:hover~label,
.input:valid~label{
    top: -5px;
    color:rgb(19, 19, 103);
   } 
.signuplink{
    font-size: 13px;
    color:rgb(171, 32, 60);
    cursor: pointer;
}
.forgetp:hover{
    text-decoration: underline;
}
.signuplink:hover{
    text-decoration: underline;
}
.submit:hover{
    border: 2px solid crimson;
    transition: .5s;
}
.inputs:active~label
{
    top:-5px;
}
/* regestration form */
.reg_box{
    position:absolute;
    width:290px;
    height: 390px;
    font-size: 15px;
    background-color: bisque;
    margin-top: 15px;
    margin-left: 5px;
    padding: 10px;
    color: rgb(171, 32, 60);
    padding-left: 20px;
}
.err{
    color: red;
    font-size: 10px;
    height:14px;
    font-family: cursive;
}
.main_reg label{
    margin:5px;
    margin-left: 10px;
}
.main_reg input{
    height: 20px;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style:none;
}
.check_lbl{
    margin: 0px;
    padding: 0px;
}
.signup{
    font-size: 15px;
    border-radius: 10px;
    color: bisque;
    background-color: rgb(171, 32, 60);
    margin-top: 5px;
    padding: 2px;
    width: 30%;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* header section */
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: .3s ease background-color;
}
.header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active{
    left: 0;
}
#header .nav-list ul li{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a{
    color: white;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li a:hover {
    color: crimson;
}
#header .hamburger{
    z-index: 100;
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}
#header .hamburger:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3 ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}
/* end of header section */

/* main section */
#main{
    background-image: url(./imges/husky.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#main::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#main .main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#main h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color:transparent;
    animation: text_reveal 1s ease forwards;
    animation-delay: 1s;
}
#main h1:nth-child(1){
    animation-delay: 1s;
}
#main h1:nth-child(2){
    animation-delay: 2s;
}
#main h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#main h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}
#main h1:nth-child(1) span{
    animation-delay: .5s;
}
#main h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#main h1:nth-child(3) span{
    animation-delay: 2.5s;
}

/* end of main section */
/* dog section */
#dog .dog{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#dog .items{
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#dog .item{
    width: 50%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 3s ease box-shadow color;
}
#dog .item:hover{
    color: crimson;
    box-shadow: 0px 0px 5px 0 #0000002c;
}
#dog .name h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
}
a{
    text-decoration: none;
}
#dog .more{
    font-size: 40px;
}
#dog .more{
    font-size: 30px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: blanchedalmond;
    border: 2px solid crimson;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
}
#dog .more:hover{
color:white;
background-color:crimson;
}
#dog .name p{
    font-size: 20px;
}

/*tablet mode*/
#dog .dog{
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
    display:flex;
}
#dog .items{
    width: 100%;
    display:flex;
    flex-direction: row;
    padding: 20px;
    margin: 0;
}
#dog .item{
    margin: 20px;
    flex-direction: row;
    width: 20%;
}
#dog .item.img{
    object-fit: contain;
}
#dog .item .name{
    width: 100%;
    text-align: left;
    padding-left: 20px;
}
/* end of dog section */

/* food section */
#food h1{
    font-size: 50px;
    text-align: center;
}
#food .title{
    color: crimson;
}
#food img{
    height: 150px;
    width: 150;
    object-fit: cover;
}
#food .container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
#food .food{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#food .items{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.rating{
    size: 10px;
}
#food .item{
    width: 20%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 3s ease box-shadow color;
}
#food .item:hover{
    color: crimson;
    box-shadow: 0px 0px 5px 0 #0000002c;
}
#food .name h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
}
a{
    text-decoration: none;
}
#food .more{
    font-size: 40px;
}
#food .more{
    font-size: 30px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid crimson;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
}
#food .more:hover{
color:white;
background-color:crimson;
}
#food .name p{
    font-size: 20px;
}
/*tablet mode*/
#food .food{
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
}

/* end of food section */

/* Contact section */
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 400px;
    justify-content: space-evenly;
}
#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}
#contact .contact-item:hover{
    color: red;
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
/* End of contact section */

/* Footer */
#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img{
    filter: grayscale(1);
    transition: .3 ease filter;
}
#footer .social-item:hover img{
    filter: grayscale(0);
}
#footer p{
    color: white;
    font-size: 1.3rem;
}
/* End of footer */

/* keyframes */
@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }

}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: crimson;
    }
}
/* end keyframes */

/* Media Query For Tablet */
@media only screen and (min-width:768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60 px;
    }
    h1{
        font-size: 6rem;
    }

    /* Contact */
    #contact .contact{
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }
    #contact .contact-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px;
        margin: 0;
    }
    #contact .contact-item{
        margin: 20px;
        flex-direction: row;
    }
    #contact .contact-item .icon{
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img{
        object-fit: contain;
    }
    #contact .contact-item .contact-info{
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /* End of Contact */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width:1200px){
    /* header */
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after{
        display: none;
    }
    /* End header */
}
/* End Media Query For desktop */